@font-face{
  font-family:PostGroteskBook;
  src:url(http://static.trulia-cdn.com/images/fonts/PostGroteskBook_20150623/PostGrotesk-Book.eot);
  src:url(http://static.trulia-cdn.com/images/fonts/PostGroteskBook_20150623/PostGrotesk-Book.eot?#iefix) format("embedded-opentype")
  ,url(http://static.trulia-cdn.com/images/fonts/PostGroteskBook_20150623/PostGrotesk-Book.woff) format("woff")
  ,url(http://static.trulia-cdn.com/images/fonts/PostGroteskBook_20150623/PostGrotesk-Book.ttf) format("truetype")
  ,url(http://static.trulia-cdn.com/images/fonts/PostGroteskBook_20150623/PostGrotesk-Book.svg#PostGroteskRegular) format("svg");
  font-weight:400;
  font-style:normal;
  font-display:swap;
}

@font-face{
  font-family:PostGroteskMedium;
  src:url(http://static.trulia-cdn.com/images/fonts/PostGroteskMedium//PostGrotesk-Medium.eot);
  src:url(http://static.trulia-cdn.com/images/fonts/PostGroteskMedium//PostGrotesk-Medium.eot?#iefix) format("embedded-opentype")
  ,url(http://static.trulia-cdn.com/images/fonts/PostGroteskMedium//PostGrotesk-Medium.woff) format("woff")
  ,url(http://static.trulia-cdn.com/images/fonts/PostGroteskMedium//PostGrotesk-Medium.ttf) format("truetype")
  ,url(http://static.trulia-cdn.com/images/fonts/PostGroteskMedium//PostGrotesk-Medium.svg#PostGroteskBold) format("svg");
  font-weight:600;
  font-style:normal;
  font-display:swap;
}

@font-face{
  font-family: fontello;
  src:url(http://s3-us-west-1.amazonaws.com/affordability-module/fontello.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
}

div[name=wholeHeader] {
  position: fixed;
  background-color: white;
}

div[name=header] {
  font-family: PostGroteskBook;
  font-weight: 1;
  padding-left: 170px;
  display: inline-block;
  background-color: white;
  width: 100%;
}

div[name=rc] {
  padding-top: 180px;
}

div[name=location] {
  display: inline-block;
  margin: 1px 20px;
}

h1[name=address] {
  font-size: 25px;
  color: #3B4144;
  margin-bottom: 2px;
  font-weight: 1;
}

h2[name=cityStateEtc] {
  font-size: 15px;
  color: #869099;
  font-weight: 1;
  display: inline;
}

h2[name=neighborhood] {
  font-size: 15px;
  color: #869099;
  font-weight: 1;
  display: inline;
  padding-left: 5px;
  transition: color 0.25s;
  text-decoration: underline;
}

h2[name=neighborhood]:hover {
  cursor: pointer;
  color: #bccbd8;
}

div[name=pricePoint] {
  display: inline-block;
  margin: 1px 50px;
}

h1[name=price] {
  font-size: 25px;
  color: #3B4144; 
  margin-bottom: 2px;
  font-weight: 1;
}

h2[name=mortgage] {
  font-size: 15px;
  color: #3B4144;
  margin-top: 5px;
  display: inline-block;
  font-weight: 1;
}

button[name=preQualify] {
  display: inline-block;
  margin-left: 7px;
  background-color: #21BF63;
  border-radius: 4px;
  border: 0px solid;
  font-size: 13px;
  color: white;
  padding: 5px 10px;
  transition: background-color 0.25s;
  outline: none;
  font-weight: 1;
}

button[name=preQualify]:hover {
  cursor: pointer;
  background-color: #24d66e;
}

div[name=formDropdown] {
  display: inline-block;
  margin: 1px 60px;
}

input[name=dropdownname] {
  border-radius: 4px;
  padding: 7px 7px;
  font-size: 12px;
  border: 1px solid #CCD1D3;
  margin: 2px 2px;
  font-weight: 1;
  width: 292px;
}

input[name=dropdownname]:focus {
  border-color: #21BF63;
  outline: none;
}

input[name=dropdownphone] {
  border-radius: 4px;
  padding: 7px 9px;
  font-size: 12px;
  border: 1px solid #CCD1D3;
  margin: 2px 2px;
  font-weight: 1;
  width: 292px;
}

input[name=dropdownphone]:focus {
  border-color: #21BF63;
  outline: none;
}

textarea[name=dropdownmessage] {
  border-radius: 4px;
  padding: 7px 9px;
  font-size: 12px;
  border: 1px solid #CCD1D3;
  margin: 2px 2px;
  width: 292px;
  height: 65px;
  resize: both;
  overflow: auto;
  font-weight: 1;
}

textarea[name=dropdownmessage]:focus {
  border-color: #21BF63;
  outline: none;
}

h1[name=fakeButton] {
  background-color: #F74A27;
  border-radius: 4px;
  text-align: center;
  color: white;
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 275px;
  margin-bottom: 1px;
}

h2[name=downArrow] {
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 130px;
  margin-top: 1px;
}

div[name=dropdowncontactForm] {
  border: 1px solid #ccc;
  padding: 7px 15px;
  margin-left: 30px;
  position: fixed;
  background-color: white;
}

h1[name=dropdownformHeader] {
  text-align: center;
  font-size: 18px;
  padding: 2px 2px;
  font-family: fontello;
}

div[name=dropdown] {
  margin-left: 700px;
  position: fixed;
  padding: 7px 15px;
}


span[name=termsOfUse]{
  color: #25AB66;
  transition: color 0.25s;
}

span[name=termsOfUse]:hover {
  cursor: pointer;
  color: #24d66e;
}






























div[name=contactForm] {
  border: 1px solid #ccc;
  height: 450px;
  width: 300px;
  padding: 7px 15px;
  font-family: PostGroteskBook;
}

h1[name=formHeader] {
  font-size: 18px;
  padding: 2px 2px;
  font-weight: 1;
}

input[name=name] {
  border-radius: 4px;
  padding: 7px 7px;
  font-size: 12px;
  border: 1px solid #CCD1D3;
  margin: 2px 2px;;
  font-weight: 1
}

input[name=name]:focus {
  border-color: #21BF63;
  outline: none;
}

input[name=phone] {
  border-radius: 4px;
  padding: 7px 9px;
  font-size: 12px;
  border: 1px solid #CCD1D3;
  margin: 2px 2px;
  font-weight: 1;
}

input[name=phone]:focus {
  border-color: #21BF63;
  outline: none;
}

input[name=email] {
  border-radius: 4px;
  padding: 7px 9px;
  font-size: 12px;
  border: 1px solid #CCD1D3;
  margin: 2px 2px;
  width: 292px;
  font-weight: 1;
}

input[name=email]:focus {
  border-color: #21BF63;
  outline: none;
}

textarea[name=message] {
  border-radius: 4px;
  padding: 7px 9px;
  font-size: 12px;
  border: 1px solid #CCD1D3;
  margin: 2px 2px;
  width: 292px;
  height: 50px;
  resize: both;
  overflow: auto;
  font-weight: 1;
}

textarea[name=message]:focus {
  border-color: #21BF63;
  outline: none;
}

input[name=financing] {
  margin: 10px 2px;
}

div[name=checkboxText] {
  margin: 10px 5px;
  display: inline-block;
  font-size: 13px;
  font-weight: 1;
}

button[name=requestInfo] {
  background-color: #F74A27;
  color: white;
  width: 292px;
  padding: 7px 9px;
  margin: 2px 2px;
  font-size: 20px;
  border-radius: 4px;
  border: 0px solid;
  transition: opacity 0.15s;
  outline: none;
  font-weight: 1;
}

button[name=requestInfo]:hover {
  opacity: 0.7;
  cursor: pointer;
}

footer[name=formFooter] {
  color: #B4BAC0;
  font-size: 12px;
  width: 292px;
  margin: 10px 2px;
  font-weight: 1;
}

::placeholder {
  color: #B1B6BA;
}








div[name=agentInfo] {
  font-family: PostGroteskBook;
  margin-left: 190px;
  margin-top: 50px;
  font-size: 13px;
  display: inline-block;
  font-weight: 1;
}

h1[name=contactInfo] {
  padding-bottom: 1px;
  font-weight: lighter;
}

input[name=listingAgentButton] {
  display: inline-block;
  margin-right: 10px;
  height: 55px;
}

div[name=contactInfo] {
  display: inline-block;
  padding-left: 10px;
  padding-top: 5px;
  position: absolute;
}

div[name=agentName] {
  color: #10A75F;
}

div[name=agentPhone] {
  color: #3B4144;
}

div[name=agentType] {
  color: #869099;
}

div[name=ranking] {
  color: #FBB100;
}

div[name=sales] {
  color: #869099;
}

div[name=stats] {
  display: inline-block;
  padding-left: 120px;
  padding-top: 17.5px;
  position: absolute;
}

ul[name=list] {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}

li[name=listItem] {
  padding-top: 10px;
  padding-bottom: 20px;
}

div[name=contactFormBottom] {
  height: 450px;
  width: 300px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 435px;
  font-family: PostGroteskBook;
  display: inline-block;
}

span[name=reviews] {
  color: #8A949D;
}

input[name=nameBottom] {
  width: 470px;
  border-radius: 4px;
  padding: 7px 7px;
  font-size: 12px;
  border: 1px solid #CCD1D3;
  margin: 2px 2px;
}

input[name=nameBottom]:focus {
  border-color: #21BF63;
  outline: none;
}

div[name=missingName] {
  color: #E44427;
  font-size: 10px;
  padding-left: 5px;
  padding-bottom: 3px;
}

input[name=phoneBottom] {
  width: 470px;
  border-radius: 4px;
  padding: 7px 7px;
  font-size: 12px;
  border: 1px solid #CCD1D3;
  margin: 2px 2px;
}

input[name=phoneBottom]:focus {
  border-color: #21BF63;
  outline: none;
}

div[name=missingEmail] {
  color: #E44427;
  font-size: 10px;
  padding-left: 5px;
  padding-bottom: 3px;
}

input[name=emailBottom] {
  width: 470px;
  border-radius: 4px;
  padding: 7px 7px;
  font-size: 12px;
  border: 1px solid #CCD1D3;
  margin: 2px 2px;
}

input[name=emailBottom]:focus {
  border-color: #21BF63;
  outline: none;
}

div[name=missingPhone] {
  color: #E44427;
  font-size: 10px;
  padding-left: 5px;
  padding-bottom: 3px;
}

textarea[name=messageBottom] {
  border-radius: 4px;
  padding: 7px 9px;
  font-size: 12px;
  border: 1px solid #CCD1D3;
  margin: 2px 2px;
  width: 470px;
  height: 60px;
  overflow: scroll;
}

textarea[name=messageBottom]:focus {
  border-color: #21BF63;
  outline: none;
}

button[name=requestInfoBottom] {
  background-color: #F74A27;
  color: white;
  width: 470px;
  padding: 7px 9px;
  margin: 2px 2px;
  font-size: 17px;
  border-radius: 4px;
  border: 0px solid;
  transition: opacity 0.15s;
  outline: none;
}

button[name=requestInfoBottom]:hover {
  opacity: 0.7;
  cursor: pointer;
}

footer[name=formFooterBottom] {
  color: #B4BAC0;
  font-size: 10px;
  width: 470px;
  margin: 10px 2px;
  font-weight: 0;
}